# SMTP configuration for contact form emails
NEXT_PUBLIC_MICROSOFT_CLARITY_PROJECT_ID=w9dr66ijo1

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@yourdomain.com
SMTP_PASS=your-google-app-password
SMTP_FROM=your-email@yourdomain.com
CONTACT_FORM_TO=your-email@yourdomain.com
